{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'poll_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control ml-3" id="title" name="title" value="{{title}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="start_date">Start Date:</label>
                    <input type="date" class="form-control" name="start_date" id="start_date" required>
                </div>
                <div class="form-group col-4">
                    <label for="end_date">End Date:</label>
                    <input type="date" class="form-control" name="end_date" id="end_date" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="picture">Picture:</label>
                    <input type="file" name="picture" id="picture" value="{{ picture }}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary ml-3">Create Poll</button>
        </form>
    </div>
{% endblock content %}
